<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.mapper.CustMapper" >

	<select id="custList" resultType="cn.itcast.pojo.QueryVo" parameterType="cn.itcast.pojo.QueryVo" >

	SELECT
		c.cust_name,
		c.cust_type,
		c.cust_phone,
		c.cust_address,
		u.nickname
	FROM s_cust c
		LEFT JOIN s_user u
			ON c.cust_link_user = u.uid
	<where>
		<if test="custName!=null and custName!=''">
			and c.cust_name like '%${custName}%'
		</if>
		<if test="custType!=null and custType!=''">
			and c.cust_type = #{custType}
		</if>
	</where>
         
    </select>
    
    <select id="queryCustType" resultType="String" >
    	 SELECT DISTINCT cust_type FROM s_cust
    </select>
    
    <select id="queryCustLinkUser" resultType="String" parameterType="cn.itcast.pojo.QueryVo" >
	SELECT
		DISTINCT
			u.nickname
		FROM s_cust c
			LEFT JOIN s_user u
				ON c.cust_link_user = u.uid

    </select>
    
	<insert id="save" parameterType="cn.itcast.pojo.Cust" >
		insert into
			s_cust
		values
			(#{cid},#{custName},#{custType},#{custPhone},#{custAddress},#{custLinkUser})
	</insert>
	

</mapper>