<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.mapper.UserMapper" >

	<select id="checkUser" parameterType="String" resultType="cn.itcast.pojo.User" >
	
		SELECT * FROM s_user WHERE username = #{username} ;
	
	</select>
	
	<select id="getUserNickname" resultType="cn.itcast.pojo.User" >
		SELECT * FROM s_user
	</select>

</mapper>